/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  font-family: 'IBM Plex mono', monospace, sans-serif;
  font-weight: 400;
  font-size: 18px;
  background-color: var(--background-color);
  background-image: url(../images/cover-image-dark.png);
  background-attachment: fixed;
}

.paragraph-link {
  text-shadow: 2px 1px 0 var(--accent-color);
}

.paragraph-link:hover {
  border-bottom: solid 1px var(--paragraph-color);
}

.paragraph-link:focus {
  outline: none;
}

.paragraph-link:focus-visible {
  outline: solid 1px var(--paragraph-color);
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  padding: 10px;
}

.header,
.footer {
  height: 100vh;
}

@media (width <= 768px) {
  .header,
  .footer {
    min-height: 668px;
  }
}

@media (width >= 768px) {
  .header,
  .footer {
    min-height: 1024px;
    padding-right: 20px;
    padding-left: 0;
  }
}

@media (width >= 1024px) {
  .header,
  .footer {
    min-height: 768px;
    padding-top: 18px;
  }
}

.header__decorated-text {
  position: absolute;
  top: 12.5px;
  right: 20px;
  display: var(--decorated-text);
  align-items: center;
  gap: 10px;
  color: var(--font-color);
}

.header__decorated-text:after {
  content: '';
  display: var(--decorated-text);
  width: 9px;
  height: 9px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--font-color);
  background-color: var(--font-color);
}

.decorated-zone::before {
  content: '';
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  width: 25px;
  height: 25px;
  border-top: solid var(--font-color) 1px;
  border-right: solid var(--font-color) 1px;
}

.decorated-zone::after {
  content: '';
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: flex;
  width: 25px;
  height: 25px;
  border-bottom: solid var(--font-color) 1px;
  border-left: solid var(--font-color) 1px;
}

.header__theme-menu {
  justify-self: right;
  align-self: center;
}

@media (width >= 768px) {
  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }
  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }
  .header__decorated-text {
    top: 22px;
    right: 28px;
}
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 11.5px;
}

@media (width >= 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: start;
    margin-left: 18.5px;
  }
  .header__theme-menu-list {
    flex-direction: row;
  }
}

.header__theme-menu-button {
  width: 70px;
  height: 26px;
  border: none;
  color: var(--font-color);
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
}

.header__theme-menu-button_active {
  border: solid 1px var(--font-color);
}

.header__theme-menu-button:hover {
  border: solid 1px var(--hover-color);
}

.header__theme-menu-button:focus {
  border-bottom: 1px solid var(--accent-color);
  outline: none;
}

.header__title {
  color: var(--h1-color);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  text-align: left;
  text-shadow: 4px 4px 0 var(--accent-color);
}

@media (width >= 768px) {
  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

.title-decor {
  justify-self: right;
  align-self: center;
  color: var(--title-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  background-color: var(--accent-color);
}

@media (width <= 768px) {
  .title-decor {
    max-width: 355px;
  }
}
@media (width >= 768px) {
  .title-decor {
    max-width: 364px;
  }
}
@media (width >= 1024px) {
  .title-decor {
    max-width: 491px;
  }
}

main {
  display: grid;
  gap: 50px;
  padding: 40px 10px;
}

@media (width >= 768px) {
  main {
    gap: 80px;
    padding: 60px 20px;
  }
}

.section {
  display: grid;
  gap: 20px;
}

@media (width >= 768px) {
  .why-section,
  .recommendations-section {
    grid-template-columns: 1fr 2fr;
  }
}

@media (width >= 1024px) {
  .reasons-paragraph-container {
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
  }
}

.title-section {
  color: var(--font-color);
  font-weight: 700;
  font-size: 18px;
}

.paragraph-container {
  display: grid;
  gap: 20px;
}

.paragraph {
  display: grid;
  gap: 10px;
}

.parapraph-title {
  justify-self: auto;
  max-width: 100%;
}

.paragraph-text {
  color: var(--paragraph-color);
  line-height: 1.3;
}

.recommendations-title {
  font-weight: 400;
}

@media (width >= 768px) {
  .title-reasons-section {
    max-width: 236px;
  }
}

@media (width >= 1024px) {
  .title-reasons-section {
    max-width: 315px;
  }
}

.gallery-section {
  gap: 10px;
}

.gallery {
  display: grid;
  gap: 10px;
}

@media (width >= 768px) {
  .gallery-section {
    gap: 20px;
  }
 .gallery {
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
 }
 .gallery-image:nth-child(1) {
  grid-column: span 2;
 }
 .gallery-image:nth-child(2) {
  grid-row: span 2;
 }
 .gallery-image:nth-child(3) {
  grid-row: span 2;
 }
 .gallery-image:nth-child(5) {
  grid-column: span 2;
 }
}

.gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-title {
  margin-top: 8px;
  color: var(--h1-color);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 2px 1px 0 var(--accent-color);
}

@media (width >= 768px) {
  .footer-title {
    margin-left: 17px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (width >= 1024px) {
  .footer-title {
    margin-top: -18px;
  }
}




